@import './menu.scss';

.k-schema-item {
  position: relative;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--el-border-color-light);
  transition: var(--color-transition);

  &:first-child, :not(.k-schema-item):not(.k-schema-group) + & {
    border-top: 1px solid var(--el-border-color-light);
  }

  & + h2 {
    margin-top: 2rem;
  }

  &:hover {
    background-color: var(--el-fill-color);
  }

  .k-schema-right .el-select {
    width: 12rem;
  }
}

.k-schema-header {
  font-size: 1.25rem;
  margin: 1rem 0;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.k-schema-group {
  position: relative;

  &:empty {
    border-bottom: none;
  }

  > :first-child {
    border-top: none;
  }
}

.k-schema-table {
  .el-input, .el-input-number {
    width: 100%;
  }

  &-cell-input {
    min-width: 6rem;
    width: 10rem;
  }

  &-cell-input-number {
    min-width: 6rem;
    width: 10rem;
  }

  &-cell-select {
    min-width: 6rem;
    width: 10rem;
  }

  .el-input__wrapper {
    box-shadow: none !important;
  }

  .el-select__wrapper {
    box-shadow: none !important;
  }
}

.el-input.invalid .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}

.el-textarea.invalid .el-textarea__inner {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}

.k-schema-edit-dialog {
  .el-dialog__footer {
    display: flex;
    justify-content: space-between;
  }
}
