$menu-margin-x: 0.375rem;
$menu-margin-y: 0.375rem;
$menu-padding-y: 0.375rem;
$menu-padding-left: 2.5rem;

// override el-popper styles
.k-menu, .k-menu.el-popper.is-light {
  position: fixed;
  z-index: 1000;
  min-width: 12rem;
  padding: $menu-margin-y 0;
  border-radius: 6px;
  background-color: var(--el-bg-color-overlay);
  box-shadow: var(--k-menu-shadow);
  font-size: 14px;
}

.k-menu-separator {
  margin: $menu-margin-y 0;
  border-top: 1px solid var(--el-border-color-light);

  &:first-child, &:last-child {
    display: none;
  }

  & + & {
    display: none;
  }
}

.k-menu-item {
  position: relative;
  user-select: none;
  margin: 0 $menu-margin-x;
  padding: $menu-padding-y 0 $menu-padding-y $menu-padding-left;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--color-transition);

  &.disabled {
    color: var(--k-color-disabled);
    pointer-events: none;
  }

  &:not(.disabled):hover {
    color: inherit;
    background-color: var(--k-hover-bg);
  }

  &.primary {
    color: var(--el-color-primary);
    &:not(.disabled):hover {
      background-color: var(--el-color-primary);
    }
  }

  &.danger {
    color: var(--el-color-error);
    &:not(.disabled):hover {
      background-color: var(--el-color-error);
    }
  }

  &.warning {
    color: var(--el-color-warning);
    &:not(.disabled):hover {
      background-color: var(--el-color-warning);
    }
  }
}

.k-menu-icon {
  top: 0;
  height: 100%;
  left: 0;
  width: $menu-padding-left;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .k-icon {
    height: 1rem;
  }
}
