@mixin token-color($name, $color) {
  :root.dark {
    --shiki-token-#{$name}: #{$color};
  }

  span[style="color:#{$color};"] {
    color: var(--shiki-token-#{$name}) !important;
  }
}

// One Dark Pro
@include token-color(text, #ABB2BF);
@include token-color(constant, #E5C07B);
@include token-color(number, #D19A66);
@include token-color(string, #98C379);
@include token-color(comment, #7F848E);
@include token-color(keyword, #C678DD);
@include token-color(parameter, #E06C75);
@include token-color(function, #61AFEF);
@include token-color(operator, #56B6C2);
@include token-color(punctuation, #ABB2BF);

:root {
  --shiki-token-text: #000000;
  --shiki-token-constant: #005CC5;
  --shiki-token-number: #005CC5;
  --shiki-token-string: #22863A;
  --shiki-token-comment: #6A737D;
  --shiki-token-keyword: #D73A49;
  --shiki-token-parameter: #E36209;
  --shiki-token-function: #6F42C1;
  --shiki-token-operator: #D73A49;
  --shiki-token-punctuation: #032F62;
}
