:root {
  --white: #ffffff;
  --white-soft: #f9f9f9;
  --white-mute: #f1f1f1;
  --black: #1a1a1a;
  --black-pure: #000000;
  --black-soft: #242424;
  --black-mute: #2f2f2f;
  --gray: #8e8e8e;
  --gray-light-1: #aeaeae;
  --gray-light-2: #c7c7c7;
  --gray-light-3: #d1d1d1;
  --gray-light-4: #e5e5e5;
  --gray-light-5: #f2f2f2;
  --gray-dark-1: #636363;
  --gray-dark-2: #484848;
  --gray-dark-3: #3a3a3a;
  --gray-dark-4: #282828;
  --gray-dark-5: #202020;
  --c-divider-light-1: rgba(60, 60, 60, .29);
  --c-divider-light-2: rgba(60, 60, 60, .12);
  --c-divider-dark-1: rgba(84, 84, 84, .65);
  --c-divider-dark-2: rgba(84, 84, 84, .48);
  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, .7);
  --c-text-light-3: rgba(60, 60, 60, .33);
  --c-text-light-4: rgba(60, 60, 60, .18);
  --c-text-dark-1: rgba(255, 255, 255, .87);
  --c-text-dark-2: rgba(235, 235, 235, .6);
  --c-text-dark-3: rgba(235, 235, 235, .38);
  --c-text-dark-4: rgba(235, 235, 235, .18);
  --c-indigo: #213547;
  --c-indigo-soft: #476582;
  --c-indigo-light: #aac8e4;
  --c-indigo-lighter: #c9def1;
  --c-indigo-dark: #1d2f3f;
  --c-indigo-darker: #14212e;
  --green: #42b883;
  --green-light: #42d392;
  --green-lighter: #35eb9a;
  --green-dark: #33a06f;
  --green-darker: #155f3e;
  --green-dimm-1: rgba(66, 184, 131, .5);
  --green-dimm-2: rgba(66, 184, 131, .25);
  --green-dimm-3: rgba(66, 184, 131, .05);
  --yellow: #ffc517;
  --yellow-light: #fcd253;
  --yellow-lighter: #fcfc7c;
  --yellow-dark: #e0ad15;
  --yellow-darker: #ad850e;
  --yellow-dimm-1: rgba(255, 197, 23, .5);
  --yellow-dimm-2: rgba(255, 197, 23, .25);
  --yellow-dimm-3: rgba(255, 197, 23, .05);
  --red: #ed3c50;
  --red-light: #f54e82;
  --red-lighter: #fd1d7c;
  --red-dark: #cd2d3f;
  --red-darker: #ab2131;
  --red-dimm-1: rgba(237, 60, 80, .5);
  --red-dimm-2: rgba(237, 60, 80, .25);
  --red-dimm-3: rgba(237, 60, 80, .05);
  --brand: #646cff;
  --brand-light: #747bff;
  --brand-lighter: #9499ff;
  --brand-lightest: #bcc0ff;
  --brand-dark: #535bf2;
  --brand-darker: #454ce1;
  --brand-dimm: rgba(44, 46, 82, 0.08);
  --color-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

  --sidebar-width: 240px;
  --sidebar-width-mobile: 240px;
}

:root {
  --c-bg: var(--white);
  --c-bg-soft: var(--white-soft);
  --c-bg-mute: var(--white-mute);
  --c-bg-alt: var(--white-soft);
  --c-divider: var(--c-divider-light-1);
  --c-divider-light: var(--c-divider-light-2);
  --c-divider-inverse: var(--c-divider-dark-1);
  --c-divider-inverse-light: var(--c-divider-dark-2);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);
  --c-text-4: var(--c-text-light-4);
  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);
  --c-text-inverse-4: var(--c-text-dark-4);
  --c-text-code: var(--c-indigo-soft);
  --c-brand: var(--brand);
  --c-brand-dark: var(--brand-darker);
  --c-brand-light: var(--brand-lighter);

  // override vuepress
  --c-border: var(--c-divider-light);
  --c-border-dark: var(--c-divider);
  --c-text: var(--c-text-1);
  --code-bg-color: var(--c-bg-alt);
}

html.dark {
  --c-bg: var(--black-soft);
  --c-bg-soft: var(--black-mute);
  --c-bg-mute: var(--gray-dark-3);
  --c-bg-alt: var(--black);
  --c-divider: var(--c-divider-dark-1);
  --c-divider-light: var(--c-divider-dark-2);
  --c-divider-inverse: var(--c-divider-light-1);
  --c-divider-inverse-light: var(--c-divider-light-2);
  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);
  --c-text-4: var(--c-text-dark-4);
  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);
  --c-text-inverse-4: var(--c-text-light-4);
  --c-text-code: var(--c-indigo-lighter);
  --c-brand: var(--brand-light);
  --c-brand-dark: var(--brand-darker);
  --c-brand-light: var(--brand-lighter);

  // override vuepress
  --c-border: var(--c-divider-light);
  --c-border-dark: var(--c-divider);
  --c-text: var(--c-text-1);
  --code-bg-color: var(--c-bg-alt);
}

:root {
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
}

:root {
  // override element
  --el-text-color-regular: var(--fg1);
  --el-text-color-primary: var(--fg3);
  --el-input-text-color: var(--fg1);
  --el-border-color: var(--c-border);
  --el-border-color-hover: var(--c-brand-dark);
  --el-border-color-base: var(--c-divider);
  --el-border-color-light: var(--c-divider-light);
  --el-border-color-lighter: var(--c-divider-light);
  --el-border-color-extra-light: var(--c-divider-light);
  --el-color-primary: var(--brand);
  --el-color-success: var(--green);
  --el-color-warning: var(--yellow);
  --el-color-error: var(--red);
  --el-color-white: var(--white);
  --el-color-black: var(--fg1);
  --el-bg-color: var(--bg0);
  --el-bg-color-overlay: var(--bg0);
  --el-fill-color-blank: transparent;
  --el-fill-color-light: var(--page-bg);
}

aside.sidebar {
  top: 0;
  z-index: 20;
  background-color: var(--c-bg-alt);
  display: flex;
  flex-direction: column;

  .sidebar-items > li {
    margin-bottom: 1rem;
  }

  .sidebar-item {
    color: var(--c-text-2);
  }

  .sidebar-heading {
    font-weight: 600;
    font-size: 16px;
    color: var(--c-text-1);
  }
}

div[class*=language-] {
  background-color: transparent;
}

div[class*=language-]::before {
  display: none;
}

.theme-default-content {
  h1 {
    line-height: 40px;
    font-size: 32px;
  }

  pre {
    padding: 1rem 0;
  }
}

.k-icon {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.el-dropdown-menu {
  background-color: var(--white);
}

.el-dropdown__popper.el-popper[role=tooltip] {
  background-color: var(--white);
}

.el-dropdown-menu__item.is-disabled {
  pointer-events: none;
}

.el-dropdown-menu__item--divided {
  &:first-child, &:last-child {
    display: none;
  }
}

.el-input .k-icon {
  height: 0.75rem;
}

.el-input__wrapper,
.el-input-number__decrease,
.el-input-number__increase,
.el-checkbox__label {
  transition: var(--color-transition);
}

.el-input__prefix-inner, .el-input__suffix-inner {
  align-items: center;
}

.el-radio {
  height: 1.2rem;
}

.el-radio__label {
  --el-color-primary: var(--active);
  padding-top: 1px;
}

.el-scrollbar__bar {
  z-index: 500;
}

html.dark .el-switch {
  --el-switch-off-color: #72767d;
}

.theme-container.no-navbar .theme-default-content h1 {
  margin-top: 3rem;
}

a > img + span {
  margin-left: 0.5rem;
  > .external-link-icon {
    display: none;
  }
}
